<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="container">

 <h1>Nuevo Cliente</h1>

 <div class="card">
  <div class="card-header">Registro de nuevo Cliente</div>

  <div class="card-body">

   <form th:action="@{/cliente/save}" th:object="${cliente}"
    method="post">

    <div class="form-group">
     <label for="codigo">Codigo:</label> <input type="text"
      class="form-control" placeholder="id" th:field="*{id}">
    </div>
    <div class="form-group">
     <label for="codigo">Nombre:</label> <input type="text"
      class="form-control" placeholder="nombre" th:field="*{nombre}">
    </div>
    <div class="form-group">
     <label for="codigo">Apellido Paterno:</label> <input type="text"
      class="form-control" placeholder="apePat" th:field="*{apePat}">
    </div>
    <div class="form-group">
     <label for="codigo">Apellido Materno:</label> <input type="text"
      class="form-control" placeholder="apeMat" th:field="*{apeMat}">
    </div>
    <div class="form-group">
     <label for="codigo">DNI:</label> <input type="text"
      class="form-control" placeholder="DNI" th:field="*{DNI}">
    </div>
    <div class="form-group">
     <label for="codigo">Telefono:</label> <input type="text"
      class="form-control" placeholder="telefono" th:field="*{telefono}">
    </div>
    <div class="form-group">
     <label for="codigo">Tipo:</label> <input type="text"
      class="form-control" placeholder="tipo" th:field="*{tipo}">
    </div>

    <button type="submit" class="btn btn-primary">
     <i class="fas fa-save"></i> Grabar
    </button>
    <a th:href="@{/cliente}" class="btn btn-danger"> <i
     class="fas fa-undo-alt"></i> Cancelar
    </a>
   </form>
  </div>
 </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>