<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Editar Trabajador</h1>

		<div class="card">
			<div class="card-header">Edicion de Trabajador</div>

			<div class="card-body">

				<form th:action="@{/personal/save}" th:object="${personal}"
					method="post">

					<div class="form-group">
						<label for="codigo">Codigo:</label> <input type="text"
							class="form-control" placeholder="Codigo" th:field="*{codigo}">
					</div>

					<div class="form-group">
						<label for="dni">DNI:</label> <input type="text"
							class="form-control" placeholder="DNI" th:field="*{dni}">
					</div>
					<div class="form-group">
						<label for="nombre">Nombre:</label> <input type="text"
							class="form-control" placeholder="Nombre" th:field="*{nombre}">
					</div>
					
					
					<div class="form-group">
						<label for="apePat">Apellido Paterno:</label> <input type="text"
							class="form-control" placeholder="Apellido Paterno" th:field="*{apePat}">
					</div>
					<div class="form-group">
						<label for="apeMat">Apellido Materno:</label> <input
							type="text" class="form-control"
							placeholder="Apellido Materno" th:field="*{apeMat}">
					</div>
					
					<div class="form-group">
						<label for="telefono">Telefono:</label> <input
							type="text" class="form-control"
							placeholder="Telefono" th:field="*{telefono}">
					</div>
					
					
						<div class="form-group">
						<label for="tipo">Tipo:</label> <input
							type="text" class="form-control"
							placeholder="Tipo de personal" th:field="*{tipo}">
					</div>
					

					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> Grabar
					</button>
					<a th:href="@{/personal}" class="btn btn-danger"> <i
						class="fas fa-undo-alt"></i> Cancelar
					</a>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>