<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"> </header>

	<h1 class="text-center">EMBARCADERO 41 "</h1>


	<div class="nav-scroller py-1 mb-2">
		<nav class="navbar navbar-light" style="background-color: #c1c7c3;">

			<nav class="navbar navbar-light" style="background-color: #c1c7c3;">
				<form class="form-inline">
							
				</form>
			</nav>
			
		</nav>
	</div>

	<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
		<div class="col-md-6 px-0">
			<h1 class="display-4 font-italic">CEBICHON PA TU CONSUMO YA TU SA'</h1>
			<p class="lead my-3">Aca podemos poner un breve resumen del
				colegio, como si fuera un "nosotros"</p>
			<p class="lead mb-0">
				<a href="#" class="text-white font-weight-bold">Seguir
					leyendo...</a>
			</p>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>